body {
  background-color: lightblue;
  font-family: 'Open Sans';
  font-size: 15px;
  
}
td {
  border: 2px solid darkorchid;
  display: table-cell;
  vertical-align: inherit;
  padding: 12px;
}
table {
    text-indent: initial;
    text-wrap: wrap;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
}
.breadcrumb > li {
  display: inline;
}
.breadcrumb li+li::before {
  padding: 10px;
  content: ">";
}
.breadcrumb a {
  text-decoration: none;
}
.breadcrumb a:hover {
  color: red;
}
